<div class="form-wrapper">
  <form action="<%= companies_path %>" method="get">
    <%= text_field_tag :q, params[:q], placeholder: "Поиск по компаниям"  %>
    <%= submit_tag "Поиск", :name => nil %>
  </form>
</div>
<h1>Все компании</h1>
<% @companies.each do |company| %>
  <div class="card" style="width: 24.5rem;">
    <div class="card-body">
      <p class="card-text"><%= link_to company.name,company_path(company)%></p>
      <p class="card-text">Год основания: <%= company.foundation_year%></p>
    </div>
  </div>
<% end %>
<div class="pagination justify-content-center">
  <%= will_paginate @companies,renderer:  WillPaginate::ActionView::BootstrapLinkRenderer,previous_label: '<',next_label: '>',inner_window: 1,outer_window:0%>
</div>