<p> </p>
<div class="card" style="width: 24.5rem;">
  <div class="card-body">
    <h4 class="card-title">О направлении</h4>
    <p class="card-text"><%= image_tag @subject.avatar.url(:default) %></p>
    <p class="card-text">Направление: <%= @subject.name%></p>
    <p class="card-text">О направлении: <%= @subject.description%></p>
    <a href="<%= edit_subject_path(@subject.id) %>" class="card-link">Edit</a>
    <a class="card-link"><%= link_to  "Delete", subject_path(@subject.id), method: :delete, data: {confirm: 'Вы уверены,что хотите удалить направление?'} %></a>
  </div>
</div>
<p> </p>
<h4 class="cntrd">Все курсы по этому направлению</h4>
<% @subject_courses.each do |f| %>
  <div class="card" style="width: 24.5rem;">
    <div class="card-body">
      <p class="card-text"><%= link_to f.name,course_path(f)%></p>
      <p class="card-text">Цена: <%= f.price%>₽</p>
    </div>
  </div>
<% end %>