<div class="form-wrapper">
  <form action="<%= courses_path %>" method="get">
    <%= text_field_tag :q, params[:q], placeholder: "Поиск по курсам"  %>
    <%= submit_tag "Поиск", :name => nil %>
  </form>
  <%= link_to 'Очистить', courses_path %>
</div>
<h1>Все курсы</h1>
<% @courses.each do |course| %>
  <div class="card" style="width: 24.5rem;">
    <div class="card-body">
      <p class="card-text"><%= link_to course.name,course_path(course)%></p>
      <p class="card-text">Цена: <%= course.price%>₽</p>
    </div>
  </div>
<% end %>
<div class="pagination justify-content-center">
<%= will_paginate @courses,renderer:  WillPaginate::ActionView::BootstrapLinkRenderer,previous_label: '<',next_label: '>',inner_window: 1,outer_window:0%>
</div>

