<div class="form-style-8">
  <h2>Создать новый курс</h2>
  <%= form_for :course, url: new_course_path do |form| %>
    <p>Название<%= form.text_field :name %></p>
    <p>Описание<%= form.text_field :info %></p>
    <p>Цена<%= form.text_field :price %></p>
    <p>Кол-во уроков<%= form.text_field :total_lessons %></p>
    <p>Компания<%= form.collection_select :company_id, Company.order(:name),:id,:name %></p>
    <p>Направление<%= form.collection_select :subject_id, Subject.order(:name),:id,:name %></p>
    <%= form.submit "Создать курс"%>
  <% end %>
</div>